.code-room-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .code-room-title{
        font-size: 30px;
    }
    .room-code-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 9px;
        height: 600px;
        width: 750px;
    }
}
.return-button{
    position: fixed;
    top: 0;
    left: 0;
    img{
        height: 150px;
        transform: scaleY(-1);
        &:hover{
            scale: 1.1;
            cursor: pointer;
        }
        &:active{
            scale: 1;
        }
    }
}
