.lobby-container {
    display: flex;
    gap: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    .title {
        font-size: 32px;
    }
    .code-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
    }
}
